@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixHoverCardTrigger
<BradixPopperAnchor>
    <button @ref="_triggerElement"
            @onpointerenter="HandlePointerEnter"
            @onpointerleave="HandlePointerLeave"
            @onmouseenter="HandleMouseEnter"
            @onmousemove="HandleMouseMove"
            @onmouseleave="HandleMouseLeave"
            @onfocus="HandleFocus"
            @onblur="HandleBlur"
            @ontouchstart:preventDefault="true"
            @attributes="TriggerAttributes">
        @ChildContent
    </button>
</BradixPopperAnchor>

@code {
    private bool _hasMouseMoveOpened;
    private ElementReference _triggerElement;

    [CascadingParameter]
    private BradixHoverCard? HoverCard { get; set; }

    private Dictionary<string, object> TriggerAttributes => BuildAttributes(
        ("type", "button"),
        ("data-state", HoverCard?.CurrentOpen == true ? "open" : "closed"));

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            HoverCard?.RegisterAnchor(_triggerElement);

        return Task.CompletedTask;
    }

    private Task HandlePointerEnter(PointerEventArgs args)
    {
        if (args.PointerType == "touch")
            return Task.CompletedTask;

        _hasMouseMoveOpened = true;
        return HoverCard?.HandleTriggerEnter() ?? Task.CompletedTask;
    }

    private Task HandlePointerLeave(PointerEventArgs args)
    {
        if (args.PointerType == "touch")
            return Task.CompletedTask;

        _hasMouseMoveOpened = false;
        return HoverCard?.HandleTriggerLeave() ?? Task.CompletedTask;
    }

    private Task HandleMouseEnter()
    {
        return HandleMouseMove();
    }

    private Task HandleMouseMove()
    {
        if (_hasMouseMoveOpened)
            return Task.CompletedTask;

        _hasMouseMoveOpened = true;
        return HoverCard?.HandleTriggerEnter() ?? Task.CompletedTask;
    }

    private Task HandleMouseLeave()
    {
        _hasMouseMoveOpened = false;
        return HoverCard?.HandleTriggerLeave() ?? Task.CompletedTask;
    }

    private Task HandleFocus(FocusEventArgs _)
    {
        return HoverCard?.HandleTriggerFocus() ?? Task.CompletedTask;
    }

    private Task HandleBlur(FocusEventArgs _)
    {
        return HoverCard?.HandleTriggerBlur() ?? Task.CompletedTask;
    }
}
