@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixMenuLabel
<div @attributes="LabelAttributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> LabelAttributes => BuildAttributes();
}
