@namespace Soenneker.Bradix

@inherits BradixComponentBase

<div @attributes="SeparatorAttributes"></div>

@code {
    private Dictionary<string, object> SeparatorAttributes => BuildAttributes(
        ("role", "separator"),
        ("aria-orientation", "horizontal"));
}
