@namespace Soenneker.Bradix

@inherits BradixComponentBase

<div @attributes="LabelAttributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> LabelAttributes => BuildAttributes();
}
