@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixMenuLabel
<div @attributes="LabelAttributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> LabelAttributes => BuildAttributes();
}
