@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixMenuItemIndicator

@if (ForceMount || IndicatorState?.CheckedState != BradixCheckboxCheckedState.Unchecked)
{
    <span @attributes="IndicatorAttributes">
        @ChildContent
    </span>
}

@code {
    [CascadingParameter]
    internal BradixMenuItemIndicatorContext? IndicatorState { get; set; }

    [Parameter]
    public bool ForceMount { get; set; }

    private Dictionary<string, object> IndicatorAttributes => BuildAttributes(
        ("data-state", GetDataState(IndicatorState?.CheckedState ?? BradixCheckboxCheckedState.Unchecked)),
        ("data-disabled", IndicatorState?.Disabled == true ? string.Empty : null));

    private static string GetDataState(BradixCheckboxCheckedState state)
    {
        return state.Value switch
        {
            BradixCheckboxCheckedState.CheckedValue => BradixCheckboxCheckedState.CheckedValue,
            BradixCheckboxCheckedState.IndeterminateValue => BradixCheckboxCheckedState.IndeterminateValue,
            _ => BradixCheckboxCheckedState.UncheckedValue
        };
    }
}
