@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixMenuSeparator
<div @attributes="SeparatorAttributes"></div>

@code {
    private Dictionary<string, object> SeparatorAttributes => BuildAttributes(
        ("role", "separator"),
        ("aria-orientation", "horizontal"));
}
