@namespace Soenneker.Bradix

@inherits BradixComponentBase

<div @attributes="GroupAttributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> GroupAttributes => BuildAttributes(("role", "group"));
}
