@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixMenuGroup
<div @attributes="GroupAttributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> GroupAttributes => BuildAttributes(("role", "group"));
}
