@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixSliderTrack
<span @attributes="TrackAttributes">
    @ChildContent
</span>

@code {
    [CascadingParameter]
    internal BradixSlider Slider { get; set; } = null!;

    private Dictionary<string, object> TrackAttributes => BuildAttributes(
        ("data-orientation", Slider.Orientation.Value),
        ("data-disabled", Slider.Disabled ? string.Empty : null));
}
