@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixFormSubmit
<button @attributes="SubmitAttributes">
    @ChildContent
</button>

@code {
    private Dictionary<string, object> SubmitAttributes => BuildAttributes(
        ("type", "submit"));
}
