@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixProgressIndicator
<div @attributes="IndicatorAttributes">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    internal BradixProgress Progress { get; set; } = null!;

    private Dictionary<string, object> IndicatorAttributes => BuildAttributes(
        ("data-state", Progress.State),
        ("data-value", Progress.ResolvedValue),
        ("data-max", Progress.ResolvedMax));
}
