@namespace Soenneker.Bradix

@inherits BradixComponent

@using Soenneker.Blazor.Utils.Ids
@implements IBradixSelectGroup

<CascadingValue Value="_context">
    <div role="group"
         aria-labelledby="@_context.LabelId"
         @attributes="BuildAttributes()">
        @ChildContent
    </div>
</CascadingValue>

@code {
    private readonly BradixSelectGroupContext _context = new();

    [CascadingParameter]
    private BradixSelect? Select { get; set; }

    protected override void OnInitialized()
    {
        _context.RegisterLabelId(Select?.BaseId is string bid
            ? BlazorIdGenerator.Child(bid, "group-label")
            : BlazorIdGenerator.New("bradix-select-group-label"));
    }
}
