@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixSelectItemIndicator

@if (Item?.IsSelected == true)
{
    <span aria-hidden="true"
          @attributes="BuildAttributes()">
        @ChildContent
    </span>
}

@code {
    [CascadingParameter]
    private BradixSelectItem? Item { get; set; }
}
