@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixSelectViewport
<style>
    [data-radix-select-viewport] { scrollbar-width: none; -ms-overflow-style: none; -webkit-overflow-scrolling: touch; }
    [data-radix-select-viewport]::-webkit-scrollbar { display: none; }
</style>
<div @ref="_element"
     @attributes="ViewportAttributes">
    <div @ref="_content"
         style="min-width:100%;display:block;">
        @ChildContent
    </div>
</div>

@code {
    private ElementReference _element;
    private ElementReference _content;
    private bool _registered;

    [CascadingParameter]
    private BradixSelectContent? Content { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Content is null)
        {
            _registered = false;
            return;
        }

        Content.RegisterViewportContent(_content);

        if (_registered)
            return;

        await Content.RegisterViewport(_element);
        _registered = true;
    }

    private Dictionary<string, object> ViewportAttributes => BuildAttributes(
        ("data-radix-select-viewport", string.Empty),
        ("role", "presentation"),
        ("style", BuildStyle()));

    private string BuildStyle()
    {
        const string baseStyle = "position:relative;flex:1;overflow:hidden auto;";
        return MergeStyleValues(baseStyle, Style)!;
    }
}
