@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixAccordionHeader
<h3 @attributes="HeaderAttributes">
    @ChildContent
</h3>

@code {
    [CascadingParameter]
    internal BradixAccordion Accordion { get; set; } = null!;

    [CascadingParameter]
    internal BradixAccordionItem Item { get; set; } = null!;

    private IReadOnlyDictionary<string, object> HeaderAttributes => BuildAttributes(
        ("data-orientation", Accordion.Orientation),
        ("data-state", DataState(Item.IsOpen)),
        ("data-disabled", Item.IsDisabled ? string.Empty : null));
}
