@namespace Soenneker.Bradix

@using Microsoft.JSInterop
@implements IAsyncDisposable
@inherits BradixComponentBase
@inject IBradixSuiteInterop Interop

<div @ref="_element"
     @attributes="LayerAttributes">
    @ChildContent
</div>

@code {
    private ElementReference _element;
    private DotNetObjectReference<object>? _dotNetReference;
    private bool _registered;
    private bool? _lastDisableOutsidePointerEvents;

    [Parameter]
    public bool DisableOutsidePointerEvents { get; set; }

    [Parameter]
    public bool DismissOnEscapeKeyDown { get; set; } = true;

    [Parameter]
    public bool DismissOnPointerDownOutside { get; set; } = true;

    [Parameter]
    public bool DismissOnFocusOutside { get; set; } = true;

    [Parameter]
    public EventCallback OnEscapeKeyDown { get; set; }

    [Parameter]
    public EventCallback<BradixEscapeKeyDownEventArgs> OnEscapeKeyDownDetailed { get; set; }

    [Parameter]
    public EventCallback OnPointerDownOutside { get; set; }

    [Parameter]
    public EventCallback<BradixPointerDownOutsideEventArgs> OnPointerDownOutsideDetailed { get; set; }

    [Parameter]
    public EventCallback OnFocusOutside { get; set; }

    [Parameter]
    public EventCallback<BradixFocusOutsideEventArgs> OnFocusOutsideDetailed { get; set; }

    [Parameter]
    public EventCallback OnInteractOutside { get; set; }

    [Parameter]
    public EventCallback<BradixInteractOutsideEventArgs> OnInteractOutsideDetailed { get; set; }

    [Parameter]
    public EventCallback OnDismiss { get; set; }

    [Parameter]
    public EventCallback<ElementReference> OnElementReferenceCaptured { get; set; }

    private Dictionary<string, object> LayerAttributes => BuildAttributes();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetReference = DotNetObjectReference.Create<object>(this);
            await Interop.RegisterDismissableLayer(_element, _dotNetReference, DisableOutsidePointerEvents);
            _registered = true;
            _lastDisableOutsidePointerEvents = DisableOutsidePointerEvents;

            if (OnElementReferenceCaptured.HasDelegate)
                await OnElementReferenceCaptured.InvokeAsync(_element);

            return;
        }

        if (_lastDisableOutsidePointerEvents != DisableOutsidePointerEvents)
        {
            await Interop.UpdateDismissableLayer(_element, DisableOutsidePointerEvents);
            _lastDisableOutsidePointerEvents = DisableOutsidePointerEvents;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_registered)
            await Interop.UnregisterDismissableLayer(_element);

        _dotNetReference?.Dispose();
    }

    [JSInvokable]
    public async Task<bool> HandleEscapeKeyDown(BradixDelegatedKeyboardEvent? originalEvent = null)
    {
        var args = new BradixEscapeKeyDownEventArgs(originalEvent ?? new BradixDelegatedKeyboardEvent());

        if (OnEscapeKeyDown.HasDelegate)
            await OnEscapeKeyDown.InvokeAsync();

        if (OnEscapeKeyDownDetailed.HasDelegate)
            await OnEscapeKeyDownDetailed.InvokeAsync(args);

        bool shouldDismiss = DismissOnEscapeKeyDown && !args.DefaultPrevented && OnDismiss.HasDelegate;

        if (shouldDismiss)
            await OnDismiss.InvokeAsync();

        return shouldDismiss;
    }

    [JSInvokable]
    public async Task HandlePointerDownOutside(BradixDelegatedMouseEvent? originalEvent = null)
    {
        var pointerArgs = new BradixPointerDownOutsideEventArgs(originalEvent ?? new BradixDelegatedMouseEvent());

        if (OnPointerDownOutside.HasDelegate)
            await OnPointerDownOutside.InvokeAsync();

        if (OnPointerDownOutsideDetailed.HasDelegate)
            await OnPointerDownOutsideDetailed.InvokeAsync(pointerArgs);

        var interactArgs = new BradixInteractOutsideEventArgs("pointerdown", pointerArgs.OriginalEvent);

        if (pointerArgs.DefaultPrevented)
            interactArgs.PreventDefault();

        if (OnInteractOutside.HasDelegate)
            await OnInteractOutside.InvokeAsync();

        if (OnInteractOutsideDetailed.HasDelegate)
            await OnInteractOutsideDetailed.InvokeAsync(interactArgs);

        if (DismissOnPointerDownOutside && !pointerArgs.DefaultPrevented && !interactArgs.DefaultPrevented && OnDismiss.HasDelegate)
            await OnDismiss.InvokeAsync();
    }

    [JSInvokable]
    public async Task HandleFocusOutside(BradixDelegatedFocusEvent? originalEvent = null)
    {
        var focusArgs = new BradixFocusOutsideEventArgs(originalEvent ?? new BradixDelegatedFocusEvent());

        if (OnFocusOutside.HasDelegate)
            await OnFocusOutside.InvokeAsync();

        if (OnFocusOutsideDetailed.HasDelegate)
            await OnFocusOutsideDetailed.InvokeAsync(focusArgs);

        var interactArgs = new BradixInteractOutsideEventArgs("focusin", focusOutsideEvent: focusArgs.OriginalEvent);

        if (focusArgs.DefaultPrevented)
            interactArgs.PreventDefault();

        if (OnInteractOutside.HasDelegate)
            await OnInteractOutside.InvokeAsync();

        if (OnInteractOutsideDetailed.HasDelegate)
            await OnInteractOutsideDetailed.InvokeAsync(interactArgs);

        if (DismissOnFocusOutside && !focusArgs.DefaultPrevented && !interactArgs.DefaultPrevented && OnDismiss.HasDelegate)
            await OnDismiss.InvokeAsync();
    }
}
