@page "/accordion"

<PageTitle>Bradix Accordion</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixAccordion Class="accordion-demo__root"
                         Type="@BradixSelectionMode.Single"
                         DefaultValue="item-1"
                         Collapsible>
            <BradixAccordionItem Class="accordion-demo__item" Value="item-1">
                <BradixAccordionHeader Class="accordion-demo__header">
                    <BradixAccordionTrigger Class="accordion-demo__trigger">
                        <span>Is it accessible?</span>
                        <span class="accordion-demo__chevron" aria-hidden="true">⌄</span>
                    </BradixAccordionTrigger>
                </BradixAccordionHeader>
                <BradixAccordionContent Class="accordion-demo__content">
                    <div class="accordion-demo__content-text">
                        Yes. It adheres to the WAI-ARIA design pattern.
                    </div>
                </BradixAccordionContent>
            </BradixAccordionItem>

            <BradixAccordionItem Class="accordion-demo__item" Value="item-2">
                <BradixAccordionHeader Class="accordion-demo__header">
                    <BradixAccordionTrigger Class="accordion-demo__trigger">
                        <span>Is it unstyled?</span>
                        <span class="accordion-demo__chevron" aria-hidden="true">⌄</span>
                    </BradixAccordionTrigger>
                </BradixAccordionHeader>
                <BradixAccordionContent Class="accordion-demo__content">
                    <div class="accordion-demo__content-text">
                        Yes. It's unstyled by default, giving you freedom over the look and feel.
                    </div>
                </BradixAccordionContent>
            </BradixAccordionItem>

            <BradixAccordionItem Class="accordion-demo__item" Value="item-3">
                <BradixAccordionHeader Class="accordion-demo__header">
                    <BradixAccordionTrigger Class="accordion-demo__trigger">
                        <span>Can it be animated?</span>
                        <span class="accordion-demo__chevron" aria-hidden="true">⌄</span>
                    </BradixAccordionTrigger>
                </BradixAccordionHeader>
                <BradixAccordionContent Class="accordion-demo__content">
                    <div class="accordion-demo__content-text">
                        Yes! You can animate the Accordion with CSS or JavaScript.
                    </div>
                </BradixAccordionContent>
            </BradixAccordionItem>
        </BradixAccordion>
    </section>
</section>
