@page "/aspect-ratio"

<PageTitle>Bradix AspectRatio</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <div class="aspect-demo">
            <div class="aspect-demo__container">
                <BradixAspectRatio Ratio="@(16d / 9d)">
                    <img class="aspect-demo__image"
                         src="https://images.unsplash.com/photo-1535025183041-0991a977e25b?w=300&dpr=2&q=80"
                         alt="Landscape photograph by Tobias Tullius" />
                </BradixAspectRatio>
            </div>
        </div>
    </section>
</section>
