@page "/form"

<PageTitle>Bradix Form</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixForm Class="form-demo__root">
            <BradixFormField Class="form-demo__field" Name="email">
                <div class="form-demo__label-row">
                    <BradixFormLabel Class="form-demo__label">Email</BradixFormLabel>
                    <BradixFormMessage Class="form-demo__message" Match="@((object)"valueMissing")">Please enter your email</BradixFormMessage>
                    <BradixFormMessage Class="form-demo__message" Match="@((object)"typeMismatch")">Please provide a valid email</BradixFormMessage>
                </div>
                <BradixFormControl Class="form-demo__input" Type="email" required="required" />
            </BradixFormField>

            <BradixFormField Class="form-demo__field" Name="question">
                <div class="form-demo__label-row">
                    <BradixFormLabel Class="form-demo__label">Question</BradixFormLabel>
                    <BradixFormMessage Class="form-demo__message" Match="@((object)"valueMissing")">Please enter a question</BradixFormMessage>
                </div>
                <BradixFormControl Class="form-demo__input" required="required" />
            </BradixFormField>

            <BradixFormSubmit Class="form-demo__submit">Post question</BradixFormSubmit>
        </BradixForm>
    </section>
</section>

