@page "/hover-card"

<PageTitle>HoverCard Demo</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixHoverCard SideOffset="5">
            <BradixHoverCardTrigger Class="hover-card-demo__image-trigger">
                <img class="hover-card-demo__image hover-card-demo__image--normal"
                     src="https://pbs.twimg.com/profile_images/1337055608613253126/r_eiMp2H_400x400.png"
                     alt="Radix UI" />
            </BradixHoverCardTrigger>
            <BradixHoverCardPortal>
                <BradixHoverCardContent Class="hover-card-demo__content">
                    <div class="hover-card-demo__content-inner">
                        <img class="hover-card-demo__image hover-card-demo__image--large"
                             src="https://pbs.twimg.com/profile_images/1337055608613253126/r_eiMp2H_400x400.png"
                             alt="Radix UI" />
                        <div class="hover-card-demo__details">
                            <div>
                                <div class="hover-card-demo__text hover-card-demo__text--bold">Radix</div>
                                <div class="hover-card-demo__text hover-card-demo__text--faded">@@radix_ui</div>
                            </div>
                            <div class="hover-card-demo__text">
                                Components, icons, colors, and templates for building high-quality, accessible UI. Free and open-source.
                            </div>
                            <div class="hover-card-demo__stats">
                                <div class="hover-card-demo__stat">
                                    <div class="hover-card-demo__text hover-card-demo__text--bold">0</div>
                                    <div class="hover-card-demo__text hover-card-demo__text--faded">Following</div>
                                </div>
                                <div class="hover-card-demo__stat">
                                    <div class="hover-card-demo__text hover-card-demo__text--bold">2,900</div>
                                    <div class="hover-card-demo__text hover-card-demo__text--faded">Followers</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <BradixHoverCardArrow>
                        <span class="tooltip-arrow-shape"></span>
                    </BradixHoverCardArrow>
                </BradixHoverCardContent>
            </BradixHoverCardPortal>
        </BradixHoverCard>
    </section>
</section>
