@page "/label"

<PageTitle>Bradix Label</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <div class="website-demo-row website-demo-row--padded">
            <BradixLabel Class="label-demo__label" For="firstName">First name</BradixLabel>
            <input class="label-demo__input"
                   type="text"
                   id="firstName"
                   value="Pedro Duarte" />
        </div>
    </section>
</section>
