@page "/progress"

<PageTitle>Bradix Progress</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixProgress Class="progress-demo__root" Value="@_progress">
            <BradixProgressIndicator Class="progress-demo__indicator"
                                     Style="@IndicatorStyle" />
        </BradixProgress>
    </section>
</section>

@code {
    private double _progress = 66;

    private string IndicatorStyle => $"transform: translateX(-{100 - _progress}%);";
}
