@page "/radio-group"

<PageTitle>Bradix RadioGroup</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <form>
            <BradixRadioGroup Class="radio-demo__root"
                              Name="view-density"
                              DefaultValue="default">
                <div class="website-demo-row">
                    <BradixRadioGroupItem Class="radio-demo__item"
                                          Value="default"
                                          InputValue="default"
                                          Id="density-default">
                        <BradixRadioGroupIndicator Class="radio-demo__indicator" />
                    </BradixRadioGroupItem>
                    <BradixLabel Class="radio-demo__label" For="density-default">Default</BradixLabel>
                </div>
                <div class="website-demo-row">
                    <BradixRadioGroupItem Class="radio-demo__item"
                                          Value="comfortable"
                                          InputValue="comfortable"
                                          Id="density-comfortable">
                        <BradixRadioGroupIndicator Class="radio-demo__indicator" />
                    </BradixRadioGroupItem>
                    <BradixLabel Class="radio-demo__label" For="density-comfortable">Comfortable</BradixLabel>
                </div>
                <div class="website-demo-row">
                    <BradixRadioGroupItem Class="radio-demo__item"
                                          Value="compact"
                                          InputValue="compact"
                                          Id="density-compact">
                        <BradixRadioGroupIndicator Class="radio-demo__indicator" />
                    </BradixRadioGroupItem>
                    <BradixLabel Class="radio-demo__label" For="density-compact">Compact</BradixLabel>
                </div>
            </BradixRadioGroup>
        </form>
    </section>
</section>
