@page "/slider"

<PageTitle>Bradix Slider</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <form>
            <BradixSlider Class="slider-root"
                          Values="@_singleValue"
                          Max="100"
                          Step="1"
                          OnValuesChange="HandleSingleChange">
                <BradixSliderTrack Class="slider-track">
                    <BradixSliderRange Class="slider-range" />
                </BradixSliderTrack>
                <BradixSliderThumb Class="slider-thumb" AriaLabel="Volume" />
            </BradixSlider>
        </form>
    </section>
</section>

@code {
    private IReadOnlyList<double> _singleValue = [50];

    private Task HandleSingleChange(IReadOnlyList<double> values)
    {
        _singleValue = values;
        return Task.CompletedTask;
    }
}
