@page "/switch"

<PageTitle>Bradix Switch</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <form>
            <div class="website-demo-row">
                <BradixLabel Class="switch-demo__label" For="airplane-mode">Airplane mode</BradixLabel>
                <BradixSwitch Class="switch-root" Id="airplane-mode">
                    <BradixSwitchThumb Class="switch-thumb" />
                </BradixSwitch>
            </div>
        </form>
    </section>
</section>
