@page "/toggle-group"

<PageTitle>Bradix ToggleGroup</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixToggleGroup Class="toggle-group"
                           Type="@BradixSelectionMode.Single"
                           DefaultValue="center"
                           aria-label="Text alignment">
            <BradixToggleGroupItem Class="primitive__trigger toggle-group-demo__item" Value="left">L</BradixToggleGroupItem>
            <BradixToggleGroupItem Class="primitive__trigger toggle-group-demo__item" Value="center">C</BradixToggleGroupItem>
            <BradixToggleGroupItem Class="primitive__trigger toggle-group-demo__item" Value="right">R</BradixToggleGroupItem>
        </BradixToggleGroup>
    </section>
</section>
