@page "/tooltip"

<PageTitle>Bradix Tooltip</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixTooltipProvider>
            <BradixTooltip>
                <BradixTooltipTrigger Class="tooltip-demo__button">+</BradixTooltipTrigger>
                <BradixTooltipPortal>
                    <BradixTooltipContent Class="tooltip-demo__content" SideOffset="5">
                        Add to library
                        <BradixTooltipArrow>
                            <span class="tooltip-arrow-shape"></span>
                        </BradixTooltipArrow>
                    </BradixTooltipContent>
                </BradixTooltipPortal>
            </BradixTooltip>
        </BradixTooltipProvider>
    </section>
</section>
