@page "/toolbar"

<PageTitle>Bradix Toolbar</PageTitle>

<section class="website-demo-page">
    <section class="card website-demo-card">
        <BradixToolbar Class="toolbar-root" aria-label="Formatting options">
            <BradixToolbarToggleGroup Type="@BradixSelectionMode.Multiple" aria-label="Text formatting">
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="bold">B</BradixToolbarToggleItem>
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="italic">I</BradixToolbarToggleItem>
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="strikethrough">S</BradixToolbarToggleItem>
            </BradixToolbarToggleGroup>
            <BradixToolbarSeparator Class="toolbar-separator" />
            <BradixToolbarToggleGroup Class="toolbar-toggle-group" Type="@BradixSelectionMode.Single" DefaultValue="center" aria-label="Text alignment">
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="left">L</BradixToolbarToggleItem>
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="center">C</BradixToolbarToggleItem>
                <BradixToolbarToggleItem Class="primitive__trigger toolbar-toggle-item" Value="right">R</BradixToolbarToggleItem>
            </BradixToolbarToggleGroup>
            <BradixToolbarSeparator Class="toolbar-separator" />
            <BradixToolbarLink Class="toolbar-demo__link" Href="#" Target="_blank">Edited 2 hours ago</BradixToolbarLink>
            <BradixToolbarButton Class="dialog-demo__button toolbar-demo__share" Disabled>Print</BradixToolbarButton>
            <BradixToolbarButton Class="dialog-demo__button dialog-demo__button--violet toolbar-demo__share">Share</BradixToolbarButton>
        </BradixToolbar>
    </section>
</section>
