@using Soenneker.Bradix.Suite.Base
@inherits BradixComponentBase

<a @onclick="HandleClickAsync"
   @attributes="LinkAttributes">
    @ChildContent
</a>

@code {
    [CascadingParameter]
    private BradixNavigationMenu? NavigationMenu { get; set; }

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public EventCallback OnSelect { get; set; }

    private Dictionary<string, object> LinkAttributes => BuildAttributes(
        ("data-active", Active ? string.Empty : null),
        ("aria-current", Active ? "page" : null));

    private async Task HandleClickAsync(MouseEventArgs args)
    {
        if (OnSelect.HasDelegate)
            await OnSelect.InvokeAsync();

        if (!args.MetaKey && NavigationMenu is not null)
            await NavigationMenu.DismissAsync();
    }
}
