@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixNavigationMenuList

@if (NavigationMenu?.IsRootMenu == true)
{
    <div @ref="_trackElement"
         style="position:relative;">
        <ul @attributes="ListAttributes">
            @ChildContent
        </ul>
    </div>
}
else
{
    <ul @attributes="ListAttributes">
        @ChildContent
    </ul>
}

@code {
    private ElementReference _trackElement;
    private bool _trackRegistered;

    [CascadingParameter]
    private BradixNavigationMenu? NavigationMenu { get; set; }

    private Dictionary<string, object> ListAttributes => BuildAttributes(
        ("data-orientation", (NavigationMenu?.Orientation ?? BradixOrientation.Horizontal).Value));

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (NavigationMenu?.IsRootMenu == true && !_trackRegistered)
        {
            NavigationMenu.RegisterIndicatorTrack(_trackElement);
            _trackRegistered = true;
        }

        return Task.CompletedTask;
    }

    public void Dispose()
    {
        if (_trackRegistered)
            NavigationMenu?.UnregisterIndicatorTrack();
    }
}
