@namespace Soenneker.Bradix

@inherits BradixComponentBase

@if (NavigationMenu?.IsRootMenu == true)
{
    <div style="position:relative;">
        <ul @attributes="ListAttributes">
            @ChildContent
        </ul>
    </div>
}
else
{
    <ul @attributes="ListAttributes">
        @ChildContent
    </ul>
}

@code {
    [CascadingParameter]
    private BradixNavigationMenu? NavigationMenu { get; set; }

    private Dictionary<string, object> ListAttributes => BuildAttributes(
        ("data-orientation", NavigationMenu?.Orientation ?? "horizontal"));
}
