@namespace Soenneker.Bradix

@using Microsoft.JSInterop
@implements IAsyncDisposable
@inherits BradixComponentBase
@inject IBradixSuiteInterop Interop

<button @onclick="HandleClickAsync"
        @ref="_button"
        @attributes="ButtonAttributes">
    @ChildContent
</button>

@code {
    private ElementReference _button;
    private bool _delegatedInteractionReady;
    private DotNetObjectReference<object>? _dotNetReference;

    [CascadingParameter]
    private BradixDialog? Dialog { get; set; }

    [Parameter]
    public EventCallback<ElementReference> OnElementReferenceCaptured { get; set; }

    private Dictionary<string, object> ButtonAttributes => BuildAttributes(
        ("type", "button"));

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        if (OnElementReferenceCaptured.HasDelegate)
            await OnElementReferenceCaptured.InvokeAsync(_button);

        _dotNetReference = DotNetObjectReference.Create<object>(this);
        await Interop.RegisterDelegatedInteraction(_button, _dotNetReference, new
        {
            click = new
            {
                method = nameof(HandleDelegatedClickAsync)
            }
        });
    }

    private Task HandleClickAsync()
    {
        return Dialog is null || _delegatedInteractionReady
            ? Task.CompletedTask
            : Dialog.SetOpenAsync(false);
    }

    public async ValueTask DisposeAsync()
    {
        await Interop.UnregisterDelegatedInteraction(_button);
        _dotNetReference?.Dispose();
    }

    [JSInvokable]
    public Task HandleDelegatedInteractionReadyAsync()
    {
        _delegatedInteractionReady = true;
        return Task.CompletedTask;
    }

    [JSInvokable]
    public Task HandleDelegatedClickAsync(BradixDelegatedMouseEvent _)
    {
        return Dialog is null ? Task.CompletedTask : Dialog.SetOpenAsync(false);
    }
}
