@namespace Soenneker.Bradix

@inherits BradixComponent

@implements IBradixPopperAnchor
<div @ref="_element"
     @attributes="AnchorAttributes">
    @ChildContent
</div>

@code {
    private ElementReference _element;

    [CascadingParameter]
    private BradixPopper? Popper { get; set; }

    private Dictionary<string, object> AnchorAttributes => BuildAttributes(
        ("style", MergeStyleValues("display:contents;", Style)));

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            Popper?.RegisterAnchor(_element);

        return Task.CompletedTask;
    }
}
