@namespace Soenneker.Bradix

@inherits BradixComponentBase

<button @onclick="HandleClickAsync"
        @attributes="ButtonAttributes">
    @ChildContent
</button>

@code {
    [CascadingParameter]
    private BradixToast? Toast { get; set; }

    private Dictionary<string, object> ButtonAttributes => BuildAttributes(
        ("type", "button"),
        ("aria-label", "Close"),
        ("data-radix-toast-announce-exclude", string.Empty));

    private Task HandleClickAsync()
    {
        return Toast?.TriggerCloseAsync() ?? Task.CompletedTask;
    }
}
