@namespace Soenneker.Bradix

@inherits BradixComponentBase

@implements IBradixScrollAreaThumb

@if (Scrollbar.ScrollArea.ShouldRenderThumb(Scrollbar.Orientation.Value, ForceMount))
{
    <div @ref="_thumb"
         @attributes="ThumbAttributes"></div>
}

@code {
    private ElementReference _thumb;

    [CascadingParameter]
    internal BradixScrollAreaScrollbar Scrollbar { get; set; } = null!;

    [Parameter]
    public bool ForceMount { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        Scrollbar.RegisterThumb(_thumb);
    }

    private Dictionary<string, object> ThumbAttributes => BuildAttributes(
        ("data-state", Scrollbar.ScrollArea.GetThumbState(Scrollbar.Orientation.Value)),
        ("style", BuildThumbStyle()));

    private string BuildThumbStyle()
    {
        string baseStyle = Scrollbar.ScrollArea.GetThumbStyle(Scrollbar.Orientation.Value);

        if (string.IsNullOrWhiteSpace(Style))
            return baseStyle;

        return $"{baseStyle} {Style}";
    }
}
